<div class="top-row ps-3 navbar navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="">EMS</a>
		<button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
	<nav class="flex-column">
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
				<span class="oi oi-home" aria-hidden="true"></span> Home
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="employees/addemployee">
				<span class="oi oi-person" aria-hidden="true"></span> Add Employee
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="employees/">
				<span class="oi oi-people" aria-hidden="true"></span> Employees
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="attendance/addattendance">
				<span class="oi oi-clock" aria-hidden="true"></span> Mark Attendance
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="attendance/">
				<span class="oi oi-calendar" aria-hidden="true"></span> Attendance Book
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="salaries/addsalary">
				<span class="oi oi-dollar" aria-hidden="true"></span> Issue Salary
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="salaries/">
				<span class="oi oi-graph" aria-hidden="true"></span> Salaries
			</NavLink>
		</div>
	</nav>
</div>

@code {
	private bool collapseNavMenu = true;

	private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}
}
